*~
/data/v1
/build
/build_mac
/doxygen
*.tsv
/sim_imgs
*.so
*kdev4*
*.pyc
*.out
*.zip

.idea
.vscode
.DS_Store
tensorboard_logs
*.t7
*/checkpoints
*.tar
data/*.json
results/*.json
results/*/*.json

/r2r
